:root{
  --theme-primary: #0e0127;
  --button-purp: rgb(105, 0, 0);
  --button-yw: rgb(199, 199, 50);
}

*{
  color: azure;
  font-family: 'Days One', sans-serif;
}

.text-azure{
  color: azure;
}

.theme-bg{
  background-image: url(https://media2.giphy.com/media/OuQVgsaZffKAU/giphy.gif);
  background-size: contain;
}

.img-fix{
  -webkit-user-drag: none;
  user-select: none;
  
}

.zoom{ 
  transition: all .2s ease-in-out; 
}


.zoom:hover{ 
  transform: scale(1.1); 
}

.zoom:active{
  transform: scale(1);
}

.btn-purp{
  background-color: var(--button-purp);
}

.btn-yw{
  background-color: var(--button-yw);
}

